.result {
max-width: 800px;
}

.buttonBackgroundImage:hover {
    background-color: transparent;
    transform: scale(1.3);
}

.buttonBackgroundImage {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin: 10px;
    border: none;
}

.editButton {
    @extend .buttonBackgroundImage;
    background-image: url("https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png");
}

.removeButton {
    @extend .buttonBackgroundImage;
    background-image: url("https://static-00.iconduck.com/assets.00/delete-icon-1864x2048-bp2i0gor.png");
}

.copyButton {
    @extend .buttonBackgroundImage;
    background-image: url("https://cdn-icons-png.flaticon.com/512/178/178921.png");
}
